<h1>message</h1>
<% @messages.each do |message| %>
  name:
<%= message.name %>
  what:
<%= message.body %>
<br />
<% end %>

<%= form_for(@message) do |f| %>

name:

<%= f.text_field :name %>

who:

<%= f.text_field :body %>

<%= f.submit %>
<% end %>
